<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 30px;
            background: #e2e2e2;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 data-th-text="${name}">Welcome to home page</h1>
        <p>YT Channel: <span data-th-text="${YTChannel}"></span></p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est quidem nam quibusdam a sint iure officia numquam iste iusto! Ducimus, doloribus. Optio iste architecto pariatur suscipit facilis vitae a dignissimos!</p>
    </div>
</body>
</html>